
@{
    ViewData["Title"] = "Form";

}

<h1>FormBuilder<h1>@Model.Name</h1></h1>
<div class="flex-center flex-column">
    <div class="w-100 p-3" id='formio'></div>
</div>

@section Scripts{

    <script type='text/javascript'>
        window.onload = function () {
            
            var config = {
                builder: {
                    basic: false,
                    advanced: false,
                    data: false,
                    customBasic: {
                        title: 'Basic Components',
                        default: true,
                        weight: 0,
                        components: {
                            textfield: true,
                            textarea: true,
                            email: true,
                            phoneNumber: true
                        }
                    },
                    custom: {
                        title: 'User Fields',
                        weight: 10,
                        components: {
                            firstName: {
                                title: 'First Name',
                                key: 'firstName',
                                icon: 'terminal',
                                schema: {
                                    label: 'First Name',
                                    type: 'textfield',
                                    key: 'firstName',
                                    input: true
                                }
                            },
                            lastName: {
                                title: 'Last Name',
                                key: 'lastName',
                                icon: 'terminal',
                                schema: {
                                    label: 'Last Name',
                                    type: 'textfield',
                                    key: 'lastName',
                                    input: true
                                }
                            },
                            email: {
                                title: 'Email',
                                key: 'email',
                                icon: 'at',
                                schema: {
                                    label: 'Email',
                                    type: 'email',
                                    key: 'email',
                                    input: true
                                }
                            },
                            phoneNumber: {
                                title: 'Mobile Phone',
                                key: 'mobilePhone',
                                icon: 'phone-square',
                                schema: {
                                    label: 'Mobile Phone',
                                    type: 'phoneNumber',
                                    key: 'mobilePhone',
                                    input: true
                                }
                            }
                        }
                    },
                    layout: {
                        components: {
                            table: false
                        }
                    }
                },
                editForm: {
                    textfield: [
                        {
                            key: 'api',
                            ignore: true
                        }
                    ]
                }
            };


            Formio.builder(document.getElementById('formio'), @Html.Raw(Model.Content), config)
                .then(function (builder) {
                    builder.on('saveComponent', function () {

                        $.ajax('@Url.Content("~/Form/" + Model.FormModelId + "/save")', {
                            data: JSON.stringify(builder.schema),
                            contentType: 'application/json',
                            type: 'POST'
                        });

                    });
                });
        }
    </script>

}
