
@{
    ViewData["Title"] = "Form";

}

<h1>FormRenderer <h1>@Model.Name</h1></h1>
<div class="flex-center flex-column">
    <div class="w-75 p-3" id='app'></div>
</div>


@section Scripts{

    <script type='text/javascript'>
        window.onload = function () {
           schema = @Html.Raw(Model.Content)
         };
    </script>

}
