#formContainer:empty::before {
    content: "Drop components here";
}

#formContainer:empty {
    border: 1px dashed silver
}

div[type="grid"] > .uk-grid > * {
    border: 1px dotted #f0f0f0
}

div[type="grid"] > .uk-grid:hover > * {
    border: 1px dotted silver
}


.sortable-ghost {
    border: 1px dashed gray !important;
}

.sortable-dragitem {
    border: 1px dashed gray !important
}

.sortable-item {
    position: relative;
    border: 1px solid transparent
}

.toolbar {
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 0.5em;
    display: none;
}

    .toolbar > div.toolbar-button {
        background-color: white;
        box-shadow: 0px 0px 0.2em 0px rgba(128,128,170,0.8);
        height: 0.7em;
        width: 0.7em;
        margin-right: 3px;
        padding: 3px;
        display: inline-block;
        cursor: pointer
    }

        .toolbar > div.toolbar-button:hover {
            background-color: lightsteelblue;
        }

    .toolbar img {
        display: block;
        height: 100%;
        width: 100%;
    }


/*div.moveHandle {
    cursor: grab !important;
}

    div.moveHandle:active {
        cursor: grabbing !important;
    }*/

div.deleteHandle {
    background-color: darkred !important;
}

    div.deleteHandle:hover {
        background-color: orangered !important;
    }
