@{
    ViewData["Title"] = "CoreForm";
}

    <div class="text-center">
        <h1 class="display-4">CoreForm</h1>
    </div>
Form models:
    <ul>
        @foreach (var item in Model.FormModels)
        {
            <li>
                <a href="/Form/@item.FormModelId/Render">
                    @item.Name
                </a>
            </li>
        }
    </ul>
    
