@{
    ViewData["Title"] = "CoreForm";
}

<div class="text-center">
    <h1 class="display-4">CoreForm</h1>
</div>
Form models:
<ul>
    @foreach (var item in Model.FormModels)
    {
    <li>
        <a href="/Form/@item.CurrentVersion.Id/Render">
            @item.CurrentVersion.Name (ver.@item.CurrentVersion.Version)
        </a>
        [<a href="/builder/index.htm?schemaid=@item.Id">
            Edit
        </a>]
    </li>
    }
</ul>

@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewModelModal">Create a model</button>*@

<a class="btn btn-primary"  href="/builder/index.htm">New builder (beta)</a>

<div class="modal fade" id="createNewModelModal" tabindex="-1" role="dialog" aria-labelledby="createNewModelModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modelName" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="modelName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="createNewModelModal_OK" class="btn btn-primary">Create and Edit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#createNewModelModal').on('show.bs.modal', function (event) {
            // var button = $(event.relatedTarget) // Button that triggered the modal
            //var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            //modal.find('.modal-title').text('New message to ' + recipient);
            //modal.find('.modal-body input').val("")
        })

        $('#createNewModelModal_OK').on('click', function (e) {
            var modal = $('#createNewModelModal');
                var name = modal.find('.modal-body input').val();
                modal.modal("hide");
                 $.ajax('@Url.Content("Form/NewModel")', {
                     data: JSON.stringify({Name:name}),
                        contentType: 'application/json',
                     type: 'POST',
                        success: function(data){ 
                            window.location.href = "/Form/" + data + "/build";
                         }
                    });


            })


    </script>



}